.container-main {
    margin: 100px auto;
    text-align: center;
}

h1, h3 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.2rem;
    letter-spacing: -.1rem;
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.container-counter{
  padding-top: 25px;
  border: 1px solid black;
  width: 65%;
  margin: 0 auto;
  background-color: #F3EFE0;
}

button {
  padding: 16px;
  font-family: "Roboto", sans-serif;
  margin: 20px 20px;
  font-size: 1.8rem;
}
